
/* importando tipo de letra desde google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* agregando tipo de letra por defecto a toda la pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    


    display: flex;   
    
    box-sizing: border-box;
    transition: 2s;
    /* overflow-y: hidden;  | no se muestre y no funcione el scrool*/
}

/* body:hover {
    
    background: url(../images/png/fondo-balls3.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

} */



body{
    background: url(../images/png/fondo-balls3.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


h1{
    /* border: 1px solid blue; */
    font-family: 'Roboto';
    font-size: 900%;
    color: lavender;
    margin-top: 20%;
    margin-left: 10%;
    width: 100%;
    animation: changeColor 5s linear 0.5s 4 normal forwards running;
}